// http://localhost:3000/itineraries/6/undefined

extends layout

block content
    .row
        .col-sm-4.col-sm-offset-4
            form(method="POST" action='/itineraries')
                legend New Itinerary
                .form-group
                    label(for='itinerary-name') Name
                    input#itinerary-name.form-control(name='name', placeholder='Name your Itinerary')
                .form-group
                    label(for='itinerary-date')="Date: "
                    input#itinerary-date(name='date', type='date')
                .form-group
                    label(for='itinerary-body') Description
                    textarea#itinerary-description.form-control(name='description', rows="3", placeholder="Description (optional)")
                .text-right
                    button.btn.btn-primary(type='submit') Create Itinerary
