nav.navbar.bg-primary.row.navbar-fixed-top
    div.col-xs-12.col-md-9
        a.navbar-brand(href="/") Activities Planner
    div.col-xs-12.col-md-3
        if (currentUser)
            .pull-right
                a.btn.btn-default.navbar-btn(href='/itineraries/new') New Itinerary
            .pull-right
                a.btn.btn-default.navbar-btn(href='/logout') Logout
        else
            .pull-right
                a.btn.btn-default.navbar-btn(href='/login') Login
            .pull-right
                a.btn.btn-default.navbar-btn(href='/sign-up') Sign Up
