extends layout

block content
    div.container-fluid
    if (dangers.length !== 0)
        div.row
            div.col-xs-12.col-md-3.col-md-offset-4.text-center
                div.alert.alert-info #{dangers}

    div.row
    div.center-block.auth-form
            h2.auth-title Sign Up
            form.text-center.form-group(action="/sign-up" method="POST")
                input.form-control#username(type="text" name="username" placeholder="Username")
                input.form-control#password(type="password" name="password" placeholder="Password")
                div.text-right
                    button.btn.btn-primary(type="submit") Sign Up
