/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

/* Optional: Makes the sample page fill the window. */

*{
    font-family: Helvetica;
}

img {
    width: 100px ;
    height: 100px;
}

.activity-class{
  font-style: bold;
  font-size: 1.5em;
}
.activity.id{
  color: #a4a4a4;

}

#search-location{
  margin-left: 5px;
}
#search-term{
  margin-left: 5px;
}
.navbar-brand {
    color: white;
}

.navbar-btn{
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  color: #ffffffa6;
}
.container {
    margin-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.addbtn {
  margin-left: 500px;
  position: relative;
  justify-content: space-between;
  align-items: right;
}

#map {
    height: 50%;
    width: 100%;
    left: 0;
    position: relative;
    top: 0;
}

.btn-cont {
  /*margin-left: 100px;*/
  width: auto;
}

.page-header {
}

/* ======   GET THE TEXT TO COMMENTS TO SCROLL INDEPENDENTLY */


.activitybox-wrapper {
    /*position: relative;*/
    height: 100%;
}

.activity-form,
.activity-add-message {
    padding: 18px 60px;
}

.activitybox *,
.activity-form-content * {
    font-size: 1.1em;
}

.activity-form-content {
    padding-bottom: 27px;
    border-bottom: 2px solid #000;
}

.activity-form-content > div > h2 {
    font-style: italic;
    font-size: 1.5em;
}

.activity-form{
  color: #a4a4a4;
}
.itinerary-list-container-body {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 5px solid #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
  .list-group-item:first-child {
    border: none;
  }

  a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
      color: #555;
      text-decoration: none;
      background-color: white;
  }

  .itinerary-delete{
    margin-top: 5px;
  }
  /* ======   UI Button for Sign In TO SCROLL INDEPENDENTLY */

  .style {
      background-color: transparent;
      border: none;
      color: #ffffffa6;
  }

  .list-of-planners{
      align-items: center
  }
