/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

/* Optional: Makes the sample page fill the window. */

*{
    font-family: Helvetica;

}
img {
    width: 100px ;
    height: 100px;
}

.navbar-brand {
    color: white;
}

.container {
    margin-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


#map {
    height: 50%;
    width: 100%;
    left: 0;
    position: relative;
    top: 0;
}


/* ======   GET THE TEXT TO COMMENTS TO SCROLL INDEPENDENTLY */


.activitybox-wrapper {
    /*position: relative;*/
    height: 100%;
}

.activity-form,
.activity-add-message {
    padding: 18px 60px;
}

.activitybox *,
.activity-form-content * {
    font-size: 1.1em;
}

.activity-form-content {
    padding-bottom: 27px;
    border-bottom: 2px solid #000;
}

.activity-form-content > div > h2 {
    font-style: italic;
    font-size: 1.5em;
}
